.gradle
build/
bin/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
out/
!**/src/main/**/out/
!**/src/test/**/out/
*.iml
htmlReport/

### Eclipse ###
.classpath
.factorypath
.project
.settings/

### Other ###
.vscode/
.DS_Store
Thumbs.db

### Logs ###
logs/